<.header>
  Active Users
</.header>
Click on a user to exchange currency and see order history.
<.table
  id="users"
  rows={@streams.users}
  row_click={fn {id, user} -> JS.push("hydrate", value: %{id: id}) |> JS.navigate(~p"/u/#{user}/exchange") end}
>
  <:col :let={{_id, user}} label="Name"><%= user.name %></:col>
  <:col :let={{_id, user}} label="Email"><%= user.email %></:col>
  <:col :let={{_id, user}} label="ID"><%= user.id %></:col>
</.table>
